* {
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(80%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: linear-gradient(135deg, #000000 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@col1', endColorstr='@col2', GradientType=1);
  background-attachment: fixed;
  color: #ffffff;
  overflow: hidden;
}
body #start-screen-wrapper {
  position: absolute;
  width: 1330px;
}
body #start-screen-wrapper img {
  margin: 0 auto;
  display: none;
}
body #start-screen-wrapper small {
  display: none;
  margin: 0 auto;
  width: 120px;
}
body #menu-wrapper {
  display: none;
  color: #ffffff;
  padding: 15px;
  background: none;
  position: relative;
  height: 100%;
  width: 100%;
}
body #menu-wrapper #bckgrnd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body #menu-wrapper a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
}
body #menu-wrapper ul {
  list-style-type: none;
  margin: 0 auto;
  width: 350px;
}
body #menu-wrapper ul li {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #000000 15%, #000000 85%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(15%, #000000), color-stop(85%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, #000000 15%, #000000 85%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #000000 15%, #000000 85%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #000000 15%, #000000 85%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #000000 15%, #000000 85%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  border: 3px outset #2d36d1;
  border-radius: 8px;
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-right: 5px;
}
body #menu-wrapper ul li .li-item-content {
  display: none;
}
