* {
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 73%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(73%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #000000 73%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #000000 73%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #000000 73%, #ffffff 100%);
  background: linear-gradient(135deg, #000000 73%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@col1', endColorstr='@col2', GradientType=1);
  background-attachment: fixed;
}
body #start-screen-wrapper {
  position: absolute;
  width: 1330px;
}
body #start-screen-wrapper img {
  margin: 0 auto;
}
