* {
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
  background: -moz-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(80%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -o-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: -ms-linear-gradient(-45deg, #000000 80%, #ffffff 100%);
  background: linear-gradient(135deg, #000000 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@col1', endColorstr='@col2', GradientType=1);
  background-attachment: fixed;
  color: #ffffff;
}
body #start-screen-wrapper {
  position: absolute;
  width: 1330px;
}
body #start-screen-wrapper img {
  margin: 0 auto;
  display: block;
}
body #start-screen-wrapper small {
  display: none;
  margin: 0 auto;
  width: 120px;
}
body #menu-wrapper {
  display: none;
  color: #ffffff;
  padding: 15px;
  background-image: url(/splashscreen/imgs/earth-from-space.png);
}
body #menu-wrapper a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
}
body #menu-wrapper ul {
  list-style-type: none;
  margin: 0 auto;
  width: 350px;
}
body #menu-wrapper ul li {
  border: 3px outset #2d36d1;
  border-radius: 8px;
  display: inline-block;
  height: 20px;
  width: 100px;
  margin-right: 5px;
}
body #menu-wrapper ul li .li-item-content {
  display: none;
}
