* {
    margin: 0;
    padding: 0;
}

body {

    @default-font-col: #fff;

    .diag-gradient(@col1: #000, @col2: #fff, @pos1: 79%, @pos2: 100%) {
        background: @col1;
        background: -moz-linear-gradient(-45deg, @col1 @pos1, @col2 @pos2);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(@pos1,@col1), color-stop(@pos2,@col2));
        background: -webkit-linear-gradient(-45deg, @col1 @pos1,@col2 @pos2);
        background: -o-linear-gradient(-45deg, @col1 @pos1,@col2 @pos2);
        background: -ms-linear-gradient(-45deg, @col1 @pos1,@col2 @pos2);
        background: linear-gradient(135deg, @col1 @pos1,@col2 @pos2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@col1', endColorstr='@col2',GradientType=1 );
        background-attachment: fixed;
    }

    .horizontal-doublecolor-gradient(@col1: #fff, @col2: #000, @pos1: 15%, @pos2: 85%) {
        background: @col1;
        background: -moz-linear-gradient(top, @col1 0%, @col2 @pos1, @col2 @pos2, @col1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@col1), color-stop(@pos1,@col2), color-stop(@pos2,@col2), color-stop(100%,@col1));
        background: -webkit-linear-gradient(top, @col1 0%,@col2 @pos1,@col2 @pos2,@col1 100%);
        background: -o-linear-gradient(top, @col1 0%,@col2 @pos1,@col2 @pos2,@col1 100%);
        background: -ms-linear-gradient(top, @col1 0%,@col2 @pos1,@col2 @pos2,@col1 100%);
        background: linear-gradient(to bottom, @col1 0%,@col2 @pos1,@col2 @pos2,@col1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@col1', endColorstr='@col1',GradientType=0 );
    }

    .diag-gradient(#000, #fff, 80%, 100%);
    color: @default-font-col;
    overflow: hidden;

    #start-screen-wrapper {
        position: absolute;
        width: 1330px;

        img {
            margin: 0 auto;
            display: none;
        }

        small {
            display: none;
            margin: 0 auto;
            width: 120px;
            color: #04288e;
        }
    }

    #menu-wrapper {
        display: none;
        color: @default-font-col;
        padding: 15px;
        background: none;
        position: relative;
        height: 100%;
        width: 100%;

        #bckgrnd {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        a {
            color: @default-font-col;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        ul {
            list-style-type: none;
            margin: 0 auto;
            width: 350px;

            li {
                .horizontal-doublecolor-gradient();
                border: 3px outset #2d36d1;
                border-radius: 8px;
                display: inline-block;
                height: 20px;
                width: 100px;
                margin-right: 5px;

                &:hover {
                    .horizontal-doublecolor-gradient(#fff, #000, 30%, 70%);

                    & > a {
                        color: #0ff;
                    }
                }

                .li-item-content {
                    display: none;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    top: 50px;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    padding: 25px 0;

                    * {
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        display: block;
                        margin: auto;
                        border-radius: 20%;
                        border: 2px outset #888;
                    }

                    #authors-wrapper {
                        width: 800px;
                        margin: 65px auto;
                        height: 70%;
                        overflow: auto;

                        .col {
                            display: inline-block;
                            margin: auto;

                            &:first-of-type {
                                float: left;
                            }

                            &:last-of-type {
                                float: right;
                            }
                        }
                    }

                    .dt {
                        display: inline-block;
                        text-align: center;
                        border: 2px outset #808080;
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 4px 15px;
                        padding-top: 10px;
                        width: 120px;
                        height: 130px;
                        margin-bottom: 5px;

                        span {
                            display: block;
                            margin-top: 5px;
                        }
                    }

                    .dd {
                        display: table-cell;
                        float: right;
                        border: 2px outset #808080;
                        background-color: rgba(0, 0, 0, 0.5);
                        height: 130px;
                        width: 210px;
                        padding: 7px;
                        overflow: auto;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
